.profilePic {
  max-width: 50%;
}

.homeContainer {
  display: flex;
  align-items: center;
}

.homeContent {
  flex: 1;
  color: #762A91;
}

.name {
  font-size: 60px;
  color: #EC0087;
}

#home {
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px 70px;
}

.product-heading {
  font-size: 50px;
  color: #EC0087;
  text-align: center;
}

.view-change {
  font-size: 30px;
  text-align: center;
  color: #762A91;

  input {
    min-width: 20px;
    min-height: 20px;
  }
}