.pcard {
  border: 1px solid grey;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.pcard h5 {
  margin: 10px 0;
}

.grid-view .pcard {
  width: 30%;
  display: inline-block;
  margin-right: 10px;
}

.list-view .pcard {
  display: flex;
}

.grid-view .all-products {
  display: inline-flex;
  flex-wrap: wrap;
}

.all-products .pcard img {
  width: 300px;
  height: 300px;
}

.list-view .card-title {
  text-align: center;
}

.list-view .list-content {
  flex: 1;
}

.list-view .list-content a {
  display: flex;
}

.list-view .card-details {
  flex: 1;
  padding: 0 30px;
}

.list-view .card-content {
  min-width: 30%;
}

.list-view .grid-content {
  display: none;
}

.grid-view .list-content {
  display: none;
}

.card-content .btn {
  display: block;
  margin: 20px 0;
}

input[type=number] {
  text-align: center;
  border-radius: 5px;
}

.card-description {
  margin-top: 20px;
}

.card-action {
  max-width: 200px;
  margin: 0 auto;
}

.disable-link {
  pointer-events: none;
  background: lightgrey;
}